// comman...........................................................
$font-family-Baloo_Tamma_2:'Baloo Tamma 2', cursive;
$font-weight-600: 600;
$line-height-32: 32px;
$font-size-20: 20px;
$font-size-32: 32px;
$letter-spacing-2: 2px;
$width-100: 100%;
$font-family-montserrat:'Montserrat';
$object-fit-cover:cover;
$backgroung-size-cover:cover;
// for media-query...................................................
$layout-breakpoint-1400px:1400px;
$layout-breakpoint-991px:991px;
$layout-breakpoint-468px:468px;
// for jquery timepicker--------------------------------------------
$main-theme-color:  rgb(32,150,200) ;
$main-dark-grey:#586273;
$main-light-grey: #f5f7fa;
$main-theme-color-05:#EFF4F9; 
$font-buttons: 'Heebo', sans-serif;
$box-shadow : 0px 2px 6px 0px rgba(0,0,0,0.2);