@import "variables";
@media (max-width: $layout-breakpoint-1400px){
    .clients{
        .image-block{
            display: flex ;
            justify-content: center ;
            align-items: center;
        }
    }
}

@media (max-width: $layout-breakpoint-991px) {
    .befor-block-2{
        display: initial;
    }
    .navbar-brand{
        width: 75%;
    }
    .aboutus {
        .part-1 {
            .image-block-1{
                display: none;
            }
            .image-block-1-sub{
                display: inherit !important;
            }
        }
        .part-2{
            .image-block-2{
                order:1 ;
            }
            .pera-block{
                order:2 ;
                margin: 30px 0px;
            }
        }
    }
    .next_arrow{
        right: 100px;
        transition: 0.4s;
    }
    .prev_arrow{
        left:100px;
        transition: 0.4s;
    }
    .photo_gallary{
        .first-col,.second-col,.last-col{
            img{
                height: auto !important;
            }
        }
    }
    .services{
        .service-title{
            font-size: 32px;

        }
    }
    .clients{
        .clients-title{
            font-size: 32px;
        }
        .card{
            .priority-1{
                order: 1;
            }
            .priority-2{
                order: 2;
            }
        }
    }
}
@media (min-width: $layout-breakpoint-991px){
    .offcanvas{
        .show {
            display:none;
        }
        .modal-backdrop.show{
            opacity: 0;
        }
    }
}
@media (max-width: $layout-breakpoint-468px){
    .home {
        .title{
            font-size: 32px;
        }
    }
    .aboutus {
        .Royal_table{
            bottom: -23px;
        }
    }
    .services{
        .image-caption{
            font-size: 16px;
        }
    }
} 